/* For mobile: */
#bg-img{
 width: 70%;
 height: 85vh;
 background-image: url(../assets/IMG_1892-removebg.png);
 background-size: cover;
 background-position: center;
  margin-right: 5px;
  border-radius: 30px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
   #bg-img {width: 75%}
  
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  #bg-img {
   width: 100%;
   margin-right: 80px;
  }
  
}