#spinner span{
 position: absolute;
 width: 95%;
 height: 90%;
 border: 3px solid #58FFF5;
 pointer-events: none;
 animation: animate 4s linear infinite;
 
}
#spinner span:nth-child(1) {
 border-radius: 38% 62% 64% 36% / 43% 35% 65% 57%;
}
#spinner span:nth-child(2){
 animation-direction: reverse;
 border-radius: 41% 59% 40% 60% / 65% 66% 34% 35%;
}
#spinner span:nth-child(3){
 animation-duration: 2s;
 border-radius: 73% 27% 56% 44% / 57% 74% 26% 43%;
}
@keyframes animate{
 0%{
  transform: rotate(0deg);
 }
 100%{
  transform: rotate(360deg);
 }
}

@media only screen and (max-width: 600px){
 #spinner span{
  width: 80%;
  height: 80%;
  left: 15%;
 }
}